{% block content %}

<ol>
    <li>
        <ul>
            <li>Inheritance allows class to gain all methods and attributes of parent class. It provides code reusablity, easier to create and maintain. Parent class is also known as super class and child class is derived class / child</li>
    <li>Types: Single: one to one </li>
    <li>Multi level: d1 b1, d2 b2</li>
    <li>Heirachical: one base class any number to child class</li>
    <li>Multiple" derived class more that one parent</li>
        </ul>
    </li>
    <li>
        using class keyword

        class Employee:
        def __init__(self, name):
        self.name = name
        E1 = Employee('chi')
        print(E1.name)
    </li>
    <li>it means having many forms. if parent has a method then child can also have method with same name with its own vairables and parameters.</li>
    <li>It means binding code and the data together. class is an example</li>
    <li>it means providing only required details and hiding the implementation, using abstract class and interfaces</li>
</ol>

{% endblock content %}