{% extends 'index.html' %}

{% block content %}

<ol>
    <li>
        <ul>
            <li>lists are mutable, tuple are immutable.</li>
            <li>lists are slower than tuples.</li>
            <li>syntax: [1, 'c', True], (10, 'c', True)</li>
        </ul>
    </li>
    <li>
        <ul>
            <li>Python is interpreted language. eg:- php, ruby</li>
            <li>py is dynamically typed. meaning to var i=0 needs to be defined</li>
            <li>functions are first class objects. class are also first class objects meaning they can be assigned to variables, returned from other functionsm and passed into other functions.</li>
        </ul>
    </li>
    <li>pep means python enhancement proposal and is a set of rules that specify how to format python code for maximum readablity.</li>
    <li>
        <ul>
            <li>a namespace refers to a name which is assigned to each object in python.</li>
            <li>built-in namespace;= default python functions and objects are avaiabled everywhere</li>
            <li>global namespace:= top level for all</li>
            <li>enclosing namepsace:= higher or outer function</li>
            <li>local namepsace:= local or inner function</li>
        </ul>
    </li>
    <li>@ is used before a function. it is used to add some design patterns to a function without changing its structure</li>
    <li>syntax" [start:end:step], used to access parts of sequences like lists, tuples, strings.</li>
    <li>
        <ul>
            <li>literal reprents a fixed value for primitive data types. 5 literals</li>
            <li>string literal: name="asdf"</li>
            <li>character literal : a='t'</li>
            <li>numeric literals: a=20</li>
            <li>boolean literals: True, False</li>
            <li>literal collections: </li>
        </ul>
    </li>
    <li>modules are files containing code.it is a .py executable code, eg: os, sys, math, random, data time, JSON</li>

</ol>

{% endblock content %}