{% extends 'index.html' %}

{% block content %}

<ol>
    <li>
        <ul>
            <li>lists are mutable, tuple are immutable.</li>
            <li>lists are slower than tuples.</li>
            <li>syntax: [1, 'c', True], (10, 'c', True)</li>
        </ul>
    </li>
    <li>
        <ul>
            <li>Python is interpreted language. eg:- php, ruby</li>
            <li>py is dynamically typed. meaning to var i=0 needs to be defined</li>
            <li>functions are first class objects. class are also first class objects meaning they can be assigned to variables, returned from other functionsm and passed into other functions.</li>
        </ul>
    </li>
    <li>pep means python enhancement proposal and is a set of rules that specify how to format python code for maximum readablity.</li>
    <li>
        <ul>
            <li>a namespace refers to a name which is assigned to each object in python.</li>
            <li>built-in namespace;= default python functions and objects are avaiabled everywhere</li>
            <li>global namespace:= top level for all</li>
            <li>enclosing namepsace:= higher or outer function</li>
            <li>local namepsace:= local or inner function</li>
        </ul>
    </li>
</ol>

{% endblock content %}