{% extends 'base/main.html' %}
{% load static %}

{% block content %}
<p>head crack question on exams</p>

<ul>
    <li>q1: singly and doubly link list question</li>

    <li>q2. A frog has to cover a 20m distance in each and every jump it covers half of the distance. What is the number of jumps required to cover that distance?</li>
    <li>options.:= 2, 14, or infinite</li>

    <li>q3: The ratio between the speeds of two trains is 7:8. If the second train runs 400km in 4 hours, then the speed of the first train is:</li>
    <li>options.:= 70km/h, 75, 84, 87.5</li>

    <li>q4: Look at this series: 80, 10, 70, 15, 60, . . . 
        What number should come next?</li>
        <li>options.:= 20, 25, 34, 50</li>
    
    <li>q5: A clock is set right at 5am. the clock loses 16 minutes in 24 hrs. what will be the true time when the clock indicates 10 pm on 4th day?</li>
    <li>options.:= 11:15pm, 11pm, 12pm, 12:30pm</li>

</ul>
{% endblock content %}