{% extends 'base/main.html' %}

{% block content %}
<li>Answer can vary person to person. 2, 14, or infinite</li>
<li>
    Let the speed of two trains be 7x and 8x km/hr.
    It is given that the second train runs 400 km in 4 hours, therefore, we have:
    ⇒8x=400/4
    ⇒8x=100
    ⇒x=100/8
    ⇒x=12.5
    Hence, the speed of the first train is 7×12.5=87.5 kmph.
</li>
<li>
    This is an alternating addition and subtraction series.
    In the first pattern, 10 is subtracted from each number to arrive at the next.In the second, 5 is added to each
    number to arrive at the next.
    First pattern (80) (80 - 10 = 70) (70 - 10 = 60) (60 - 10 = 50)
    Second pattern (10) (10 + 5 = 15) (15 + 5 = 20)So the answer is a = 20.
</li>

<li>
    <table>
        <tr>
            <td>5 am</td>
            <td>first day</td>
        </tr>
        <tr>
            <td>5 am</td>
            <td>second day</td>
        </tr>
        <tr>
            <td>5 am</td>
            <td>third day</td>
        </tr>
        <tr>
            <td>5 am + (5am to 10 pm = 17hrs)</td>
            <td>fourth day</td>
        </tr>
    </table>
    Number of hours between 5 a.m to 10 p.m of 4th day = 24 × 3 + 17 = 72 + 17 = 89 Hours The clock loses 16 minutes in
    24 hours. This clock shows 23 Hour 44mins = Actual correct clock time is 24 Hours 23 + 44/60 Hours(minutes converted
    into Hours) = 24 Hours 23 + 11/15 Hours = 24 Hours Now, for 1 Hour = 24 × 15/(15 × 23 + 11) = 24 × 15/(356) So, for
    89 Hours = 24 × 15/(356) × 89 = 6 × 15 = 90 Hours The true time of clock is (90 - 89 = 1Hour) more than the current
    showing time = 10 p.m on 4th day + 1 Hour = 11 p.m on 4th day Hence, '11:00 PM' is the correct answer.
</li>
{% endblock content %}