{% extends 'base/main.html' %}
{% load static %}

{% block content %}

<p>here all interview question will be listed and saved in db good luck</p>

<p>learn to read patterns. odd one out</p>
<ol>
    <li>3, 5, 11, 14, 17, 21</li> (simple)
    <li>8, 27, 64, 100, 125, 216, 343</li> (3)
    <li>10, 25, 45, 54, 60, 75, 80</li> (simple)
    <li>396, 462, 572, 427, 671, 264</li> (middle)
    <li>6, 9, 15, 21, 24, 28, 30</li> (simple)
    <li>1, 4, 9, 16, 23, 25, 36</li> (simple)
    <li>1, 4, 9, 16, 20, 36, 49</li> (2)
    <li>2, 5, 10, 17, 26, 37, 50, 64</li> (1*1)+1
    <li>10, 14, 16, 18, 21, 24, 26</li> (simple)
    <li>16, 25, 36, 72, 144, 196, 225</li> (simple)
</ol>

{% endblock content %}