{% extends 'base/main.html' %}
{% load static %}
{% block content %}

<div>
    Use these commands to start a new project on django
    <ol>
        <li>First create a virtual environment</li>
        <li>virtualenv [envname]</li>
        <li>start the virtual environment</li>
        <li>env\Scripts\activate</li>
        <li>Note*: env = [envname]</li>
    </ol>

    <ol>
        <li>Then we can install django</li>
        <li>pip install django</li>
        <li>after installing django we can start project of admin</li>
        <li>django-admin startproject [projectname]</li>
        <li>We can start coding here but as we can seperate apps</li>
    </ol>

    <ol>
        <li>We can then start our app</li>
        <li>python manage.py startapp [appname]</li>
    </ol>

    <div>
        <p>With this we can create our django app successfully. Now we can use python manage.py runserver.</p>
    </div>
</div>

{% endblock content %}